@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Make sure the html and body take up the full height */
html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0;
  overflow: auto; /* Ensure scrolling is enabled */
}

body {
  min-height: 100vh;
  width: 100vw;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This helps with consistent coverage */
  background-image: linear-gradient(rgba(20, 20, 20, 0.85), rgba(0, 0, 0, 0.85)), url('./assets/bg2.jpg');
}

#root {
  min-height: 100%;
}

/* Custom scrollbar styling for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;  /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}
::-webkit-scrollbar-track {
  background: #353535;  /* Dark gray background for the scrollbar track */
  border-radius: 10px;   /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #FEC864;  /* Yellow color for the scrollbar thumb */
  border-radius: 10px;   /* Rounded corners for the thumb */
  border: 3px solid #353535; /* Dark border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #F9A825;  /* Darker yellow on hover */
}

/* Custom scrollbar styling for Firefox */
html, body {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #7e7e7e #353535; /* Yellow thumb with dark gray track */
  
}
